﻿@model MVCWebApiTest.Models.AlbumViewModel

@{
    ViewBag.Title = "Album Details";
}

<h2>Album Details</h2>

<div>
    <h4>Album</h4>
    <hr />
    <dl >
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
    <table class="table">
        @foreach (var item in Model.Photos)
        {
            <tr>
                <td>
                    <img src="@Url.Content(item.ThumbnailUrl)" />
                    <br />
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
