﻿@model PagedList.IPagedList<MVCWebApiTest.Models.AlbumViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Albums";
}
<div class="jumbotron">
    <h1>Utilant</h1>
</div>
<h2>Albums</h2>
@using (Html.BeginForm("Index", "Albums", FormMethod.Get))
{
    <p>
        Search by Album Title or User Name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            Album Art
        </th>
        <th>
            Title
        </th>
        <th>
            User Name
        </th>
        <th>
            Email
        </th>
        <th>
            Phone
        </th>
        <th>
            Address
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Url.Content(item.Photos.FirstOrDefault().ThumbnailUrl)" />
            </td>
            <td class="col-sm-2">
                @Html.ActionLink(item.Title, "AlbumDetails", "Albums", new { id = item.Id }, null)
            </td>
            <td class="col-sm-2">
                @Html.ActionLink(item.User.Name, "Index", "User", new { id = item.UserId }, null)
            </td>
            <td class="col-sm-2">
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td class="col-sm-2">
                @Html.DisplayFor(modelItem => item.User.Phone)
            </td>
            <td class="col-sm-2">
                <table>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Address.Street)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Address.Suite)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Address.City)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Address.Zipcode)
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { currentFilter = ViewBag.CurrentFilter, page }))
