﻿@model MVCWebApiTest.Models.UserViewModel

@{
    ViewBag.Title = "User";
}

<h2>User</h2>

<div>
    <h4>User Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            User Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Suite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Suite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Zipcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Zipcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Geo.Lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Geo.Lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Geo.Lng)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Geo.Lng)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            Catch Phrase
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.CatchPhrase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company.Bs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Bs)
        </dd>
    </dl>
</div>

<h3>Posts</h3>
<br />
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Body
        </th>
    </tr>

    @foreach (var item in Model.Posts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Back to Album List", "Index", "Albums")
</p>


